name: Tests

on:
  push:
    branches: [main]
  pull_request: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    name: ${{ matrix.session }} ${{ matrix.python }} / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { python: "3.14", os: "ubuntu-latest", session: "pre-commit" }
          - { python: "3.14", os: "ubuntu-latest", session: "safety" }
          - { python: "3.14", os: "ubuntu-latest", session: "mypy" }
          - { python: "3.13", os: "ubuntu-latest", session: "mypy" }
          - { python: "3.12", os: "ubuntu-latest", session: "mypy" }
          - { python: "3.11", os: "ubuntu-latest", session: "mypy" }
          - { python: "3.10", os: "ubuntu-latest", session: "mypy" }
          - { python: "3.9", os: "ubuntu-latest", session: "mypy" }
          - { python: "3.14", os: "ubuntu-latest", session: "tests" }
          - { python: "3.13", os: "ubuntu-latest", session: "tests" }
          - { python: "3.12", os: "ubuntu-latest", session: "tests" }
          - { python: "3.11", os: "ubuntu-latest", session: "tests" }
          - { python: "3.10", os: "ubuntu-latest", session: "tests" }
          - { python: "3.9", os: "ubuntu-latest", session: "tests" }
          - { python: "3.14", os: "windows-latest", session: "tests" }
          - { python: "3.14", os: "macos-latest", session: "tests" }
          - { python: "3.14", os: "ubuntu-latest", session: "xdoctest" }
          - { python: "3.14", os: "ubuntu-latest", session: "docs-build" }

    env:
      NOXSESSION: ${{ matrix.session }}
      FORCE_COLOR: "1"
      PRE_COMMIT_COLOR: "always"

    steps:
      - name: Check out the repository
        uses: actions/checkout@v6.0.1

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v6.1.0
        with:
          python-version: ${{ matrix.python }}
          allow-prereleases: true

      - name: Upgrade pip
        run: |
          pip install --constraint=${{ github.workspace }}/.github/workflows/constraints.txt pip
          pip --version

      - name: Upgrade pip in virtual environments
        shell: python
        run: |
          import os
          import pip

          with open(os.environ["GITHUB_ENV"], mode="a") as io:
              print(f"VIRTUALENV_PIP={pip.__version__}", file=io)

      - name: Install Poetry
        env:
          PIP_CONSTRAINT: "${{ github.workspace }}/.github/workflows/constraints.txt"
        run: |
          pipx install poetry
          pipx inject poetry poetry-plugin-export
          poetry --version

      - name: Install Nox
        run: |
          pipx install --pip-args=--constraint=${{ github.workspace }}/.github/workflows/constraints.txt nox
          nox --version

      - name: Install nox-poetry
        run: |
          pip install .

      - name: Compute pre-commit cache key
        if: matrix.session == 'pre-commit'
        id: pre-commit-cache
        shell: python
        run: |
          import hashlib
          import sys

          python = "py{}.{}".format(*sys.version_info[:2])
          payload = sys.version.encode() + sys.executable.encode()
          digest = hashlib.sha256(payload).hexdigest()
          result = "${{ runner.os }}-{}-{}-pre-commit".format(python, digest[:8])

          print("::set-output name=result::{}".format(result))

      - name: Restore pre-commit cache
        uses: actions/cache@v5.0.1
        if: matrix.session == 'pre-commit'
        with:
          path: ~/.cache/pre-commit
          key: ${{ steps.pre-commit-cache.outputs.result }}-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            ${{ steps.pre-commit-cache.outputs.result }}-

      - name: Run Nox
        run: |
          nox --python=${{ matrix.python }}

      - name: Upload coverage data
        if: always() && matrix.session == 'tests'
        uses: "actions/upload-artifact@v6.0.0"
        with:
          include-hidden-files: true
          name: coverage-data-${{ runner.os }}-${{ matrix.python }}
          path: ".coverage.*"

      - name: Upload documentation
        if: matrix.session == 'docs-build'
        uses: actions/upload-artifact@v6.0.0
        with:
          name: docs
          path: docs/_build

  coverage:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Check out the repository
        uses: actions/checkout@v6.0.1

      - name: Set up Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: "3.x"

      - name: Upgrade pip
        run: |
          pip install --constraint=${{ github.workspace }}/.github/workflows/constraints.txt pip
          pip --version

      - name: Install Poetry
        env:
          PIP_CONSTRAINT: "${{ github.workspace }}/.github/workflows/constraints.txt"
        run: |
          pipx install poetry
          pipx inject poetry poetry-plugin-export
          poetry --version

      - name: Install Nox
        run: |
          pipx install --pip-args=--constraint=${{ github.workspace }}/.github/workflows/constraints.txt nox
          nox --version

      - name: Install nox-poetry
        run: |
          pip install .

      - name: Download coverage data
        uses: actions/download-artifact@v7.0.0
        with:
          merge-multiple: true
          pattern: coverage-data-*

      - name: Combine coverage data and display human readable report
        run: |
          nox --session=coverage

      - name: Create coverage report
        run: |
          nox --session=coverage -- xml

      - name: Upload coverage report
        uses: codecov/codecov-action@v5.5.2
